/* Variables */
$primary: #9f8770;
$primary-2: #af9e88;
$bg-color: #2b221f;
$bg-color-2: #52443c;

@mixin color-bg-border ($color, $border) {
    background-color: $color;
    border-color: $border;
}



/* Código CSS nuevo */
h1, h2, h3, h4, h5, h6, strong {
    color: $primary;
}

.btn-primary {
    @include color-bg-border ($primary, $primary);

    &:hover {
        @include color-bg-border ($primary-2, $primary-2);
    }
    &:active {
        @include color-bg-border ($primary !important, $primary-2 !important);
    }
}

.btn-link {
    color: $primary;

    &:hover {
        color: $primary-2;
    }
    &:active {
        color: $primary !important;
    }
}

.btn-group button{
    color: $primary;
    border: 1px $primary solid;

    &:hover {
        @include color-bg-border ($primary, $primary);
    }
    &:active {
        @include color-bg-border ($primary-2 !important, $primary-2 !important);
    }
}

.text-bg-dark {
    background-color: $bg-color !important;
}
.dropdown-menu-dark {
    background-color: $bg-color-2;
}

.nav-link {

    &:hover {
        background-color: $bg-color-2;
    }
    &:active {
        background-color: $primary !important;
    }
}
.active {
    background-color: $primary !important;
}


.nav-pills .show>.nav-link {
    background-color: $primary !important;
}

/* Animaciones */
.nav-link svg {
    transition: all 1s;
}
.nav-link:hover svg {
    transform: scale(1.3);
}
.active svg {
    transform: scale(1.3);
}

@keyframes rotacion {
    100% {
        transform: rotate(360deg);
    }
}
#logo {
    animation-name: rotacion;
    animation-duration: 10s;
    // animation-iteration-count: infinite;
}

/* Código CSS anterior import */
@import "styles-anteriores";